
:root {
    --grey: #90949C;
    --blue: #1878f3;
    --sky-blue: #61a5fe;
    --green: #30a24c;
    --light-green: #64b978;
    --dark-grey: #232527;
    --light-grey: #393a3c;
    --grey-active: #252530;
    --noti-bg-color: #232e3a;
}
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #18191b;
}

.show-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hide {
    display: none;
}
/* App loading screen */
#preScreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

#preScreen img, 
.menu-options > div img, 
.post-reactions img, 
.post-btns img,
[data-showTab] img,
.post-header img,
.tab-cards > div img,
.post-types>span img,
.create-room img {
    pointer-events: none;
}

.fb-logo {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
}

.ps-footer {
    display: block;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10%;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    color: var(--grey);
}

.logos {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* Login page */
.login-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
}

.login-page-header img {
    width: 100%;
    height: 100%;
    background-color: var(--blue);
}

.lang-options {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-top: 5px;
    font-size: 0.9em;
    color: var(--grey);
}

.lang-more {
    color: var(--blue);
    background-color: none;
    outline: none;
    background: transparent;
    border: none;
    border-radius: 1vw;
}

.login-form {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 90%;
}

input[type="email"], input[type="password"] {
    width: 90%;
    margin: 10px auto;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--grey);
    color: #fff;
    font-size: 1.19em;
    line-height: 2em;
    background-color: transparent;
}

input[type="email"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid var(--blue);
}

button[type="submit"] {
    width: 95%;
    padding: 10px;
    border-radius: 2vw;
    border: none;
    outline: none;
    color: var(--sky-blue);
    font-size: inherit;
    background-color: var(--blue);
}

button[type="submit"]:active {
    -webkit-transform: scale(0.99);
    -ms-transform: scale(0.99);
    transform: scale(0.99);
    background-color: var(--sky-blue);
    color: #fff;
}

button[type="button"] {
    padding: 0.3em 0.5em;
    margin-top: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 2vw;
    font-size: inherit;
    color: var(--sky-blue);
}

button[type="button"]:active, .lang-more:active {
    color: var(--sky-blue);
    background-color: #6a7680;
}

.more-options {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10%;
    width: 80%;
    border-bottom: 1px solid var(--grey);
}

.more-options small {
    position: relative;
    top: 50%;
    color: var(--grey);
    background-color: #18191b;
}

.new-account-btn {
    margin: 3em auto;
    border: none;
    outline: none;
    padding: 0.5em;
    font-size: inherit;
    border-radius: 1.5vw;
    color: #fff;
    background-color: var(--green);
}

.new-account-btn:active {
    background-color: var(--light-green);
}

.tab-header {
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 0.8em;
}
.tab-header .search-icon {
    background-color: #1a1c1b;
}
.tab-heading {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 1.5em;
    font-weight: bold;
}
.noti-sort-by {
    display: block;
    padding: 0.5em 0.8em;
}
.notis-container {
    width: 100%;
    height: 100%;
    margin-bottom: 10vh;
}  
.noti-container p {
    font-size: 0.89em;
    margin-top: 0;
    margin-bottom: 0.2em;
}
.noti-container {
    max-width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5em 0.8em;
    background-color: var(--noti-bg-color); 
} 
.noti-container:active {
    background-color: var(--light-grey) !important;
}
.user-avatar-large {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
    background-color: #333;
}
.birthday-badge, .noti-badge{
    position: relative;
    left: 65%; top: 65%;
    right: 0;
    width: 1.7em;
    height: 1.7em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
}
.birthday-badge {
    background: -o-linear-gradient(#f96ec0 10%, #df2390 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #f96ec0), color-stop(90%, #df2390));
    background: linear-gradient(#f96ec0 10%, #df2390 90%);
}
.noti-badge {
    background: -o-linear-gradient(#61c4ff 10%, var(--blue) 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #61c4ff), color-stop(90%, var(--blue)));
    background: linear-gradient(#61c4ff 10%, var(--blue) 90%);
}
.noti-details {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    padding: 0.8em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
}
.noti-details span {
    font-size: 0.8em;
    color: var(--grey);
}
.noti-container .more-options-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.5em;
            flex: 0 0 1.5em;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    margin-top: 0.99em;
}
.menu-tab {
    width: 100vw;
    min-height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.profile-wrapper {
    margin: 0 0.8em;
    margin-bottom: 25px;
}
.profile-wrapper:active {
    background-color: var(--light-grey);
}
.view-profile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.8em;
    color: var(--grey);
}
.view-profile span {
    font-weight: bold;
    color: #fff;
}
.tab-cards {
    width: 100%;
    height: 100%;
    margin-top: -0.8em;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    padding: 0.8em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.tab-cards > div {
    width: 48.9%;
    height: 100%;
    padding: 0.8em;
    margin-top: 0.8em;
    border-radius: 2vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #333;
}
.tab-cards > div:active {
    background-color: var(--grey);
}
.tab-cards > div > span {
    margin-top: 0.5em;
}
.menu-options > div {
    width: 100%;
    height: 100%;
    padding: 0.8em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: bold;
}
.menu-options > div:active {
    background-color: var(--grey);
}
.menu-options > div > span {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-left: 0.8em;
}
.menu-options > div > img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2em;
            flex: 0 0 2em;
}

/* made with love by light royal */