@media only screen and (max-width: 790px){
    header {
        background: rgb(18, 17, 17);
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        border-bottom: 1px solid rgb(4, 4, 4);
        z-index: 1;
    }

    header nav {
       width: 95%;
       padding: 15px;
       position: -webkit-sticky;
        position: sticky;
        z-index: 5;
        -ms-flex-pack: distribute;

    }

    header .name h1 {
        font-size: 1.9rem;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Nunito' sans-serif;
        font-size: 1.6rem;
    }
    
    header .name {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    }

    header.active .name {
        display: flex;
    }

    header .nameFlex {
        display: flex;
        gap: 0.5rem;
    }

    header .nameFlex i {
        color: white;
        font-size: 1rem;
        padding: 8px;
        font-weight: lighter;
        border-radius: 50%;
    }
    header .nameFlex .nameFlexGray {
        width: 1.9rem;
        height: 1.9rem;
        background: gray;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .others {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 1rem;
    }

    header .info-tab img {
        filter: brightness(0) invert(1);
        width: 1.8rem;
        height: 1.8rem;
    }

    header .info-tab.active img {
        filter:  brightness(2%) invert(25%) sepia(100%) hue-rotate(190deg) saturate(900%);
        
    }
}

@media only screen and (max-width: 600px) {
   
}