
.posts-container {
    margin: 1px 0 10vh 0;
    border-top: 1px solid rgb(174, 171, 171);

}

.hide {
    display: none;
}

.post-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0.8em;
    padding-bottom: 0;
    margin-bottom: 10px;
    height: 100%;
    width: 100%;
    border-top: 1.3px solid white;
    padding-top: 1.1rem;

}
.post-header {
   display: flex;
}

.post-header-content1 img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1px 0 20px;
}

.post-header-content2 {
    width: 100%;
    margin: 0 15px 0 7px;
}

.nameContent {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 7px 5px 0 0;
    font-weight: bold;
    font-size: 1.3rem;
}

.hoursContent {
    display: flex;
    gap: 10px;
    color: gray;
    align-items: center;
    padding: 3px;
}

.hoursContent span {
    top: -3px;
    position: relative;
    font-weight: 900;
}

.hoursContent img {
    padding: 3px 0 0 0;
}

.post-img {
    min-width: 100%;
    max-width: 100%;
    height: 300px;
    background-color: gray;
}
.post-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
}
.post-info small {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.post-timestamp {
    color: gray;
}

.post-content p {
    margin: 0.8em 0 0.8em 1.5rem;
}

.online-badge {
    position: relative;
    left: 70%; top: 70%;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid darkgray;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

.post-stats {
    padding: 0.9em 1.5em;
    width: 95%;
    height: 100%;
    font-size: 0.8em;
    color: rgb(250, 248, 248);
    font-size: 1rem;
}

.likesCount {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}
.post-stats:active {
    background-color: var(--grey-active);
}

.post-btns {
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.post-btns>span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px 10px 8px 15px;
    background-color: rgb(75, 72, 72);
    padding: 10px;
    border-radius: 10rem;
    width: 30%;
}

.post-btns img {
    filter: brightness(0) invert(1);
}
.post-btns>span:active {
    background-color: var(--grey-active);
}
.post-reactions>span {
    margin-left: 5px;
}
.react-like, .react-love {
    margin-left: -7px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    background-color: blue;
}
.react-like {  
    position: relative;
   width: 1.7rem !important;
   height: 1.7rem !important;
   padding: 0.1rem 0.3rem;
    border: 2px solid gray;
    background: -o-linear-gradient(skyblue 10%, blue 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, skyblue), color-stop(90%, blue));
    background: linear-gradient(blue 10%, blue 90%);
}
.react-love {
    background: -o-linear-gradient(#aa0010 10%, #ff0050 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #aa0010), color-stop(90%, #ff0050));
    background: linear-gradient(#aa0010 10%, #ff0050 90%);
    padding: 0.2rem 0.4rem;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}
